bitarray==3.8.0 ; python_version >= "3.11" and python_version < "4.0"
bitstring==4.3.1 ; python_version >= "3.11" and python_version < "4.0"
bottleneck==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.3.1 ; python_version >= "3.11" and python_version < "4.0"
cloudpickle==3.1.2 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
coverage==7.13.1 ; python_version >= "3.11" and python_version < "4.0"
dask==2025.12.0 ; python_version >= "3.11" and python_version < "4.0"
deprecation==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
fsspec==2026.1.0 ; python_version >= "3.11" and python_version < "4.0"
highspy==1.12.0 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==8.7.1 ; python_version >= "3.11" and python_version < "3.12"
linopy==0.3 ; python_version >= "3.11" and python_version < "4.0"
locket==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
networkx==3.6 ; python_version >= "3.11" and python_version < "4.0"
numexpr==2.14.1 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.4.1 ; python_version >= "3.11" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.11" and python_version < "4.0"
pandas==2.3.3 ; python_version >= "3.11" and python_version < "4.0"
partd==1.4.2 ; python_version >= "3.11" and python_version < "4.0"
pathlib==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
pillow==12.1.0 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "4.0"
rdkit==2024.9.6 ; python_version >= "3.11" and python_version < "4.0"
scipy==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
toolz==1.1.0 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.67.1 ; python_version >= "3.11" and python_version < "4.0"
tzdata==2025.3 ; python_version >= "3.11" and python_version < "4.0"
xarray==2025.12.0 ; python_version >= "3.11" and python_version < "4.0"
zipp==3.23.0 ; python_version >= "3.11" and python_version < "3.12"
